.sl_callout {
	@extend .callout;
	margin-bottom: $spacing--sm;
	overflow: auto;
	clear: both;

	&--nobox {

	}//end &--nobox

	&--primary {

	}//end &--primary

	&--inverse {

	}//end &--inverse

	&--border {

	}//end &--inverse

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--assessment {
	}//end &--assessment
}//end .sl_callout
