/* *********************** */
/* Dashboard */
/* *********************** */
#welcome-panel {
	border: 0 none;
	border-bottom: 1px solid #fff;
	// border-bottom: 1px solid rgba(0,0,0,.06);
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 20px 0 30px 0;
	padding: 20px 0 20px 0;
}
.welcome-panel-content {
	
}
.branch-4-6 .welcome-panel-content h2,
.branch-4-7 .welcome-panel-content h2 {
	border-bottom: 0 none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.welcome-panel-content h3 {
	color: #2ea2cc;
	font-size: 20px;
	font-weight: 600;
}
.welcome-panel-content h4 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
#postbox-container-1 {
	/*margin: 0 40px 0 0;*/
}
#wpbody-content #dashboard-widgets .postbox-container {
	margin: 0 2% 0 0;
	width: 23%;
}
#wpbody-content #dashboard-widgets #postbox-container-4 {
	margin: 0;
	width: 25%;
}
@media only screen and (max-width: 1499px) and (min-width: 800px) {
	#wpbody-content #dashboard-widgets .postbox-container {
		margin: 0 5% 0 0;
		width: 47.5%;
	}

	#wpbody-content #dashboard-widgets #postbox-container-2,
	#wpbody-content #dashboard-widgets #postbox-container-3,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		float: right;
		margin: 0;
		width: 47.5%;
	}
	#wpbody-content #dashboard-widgets #postbox-container-3 {
		float: left;
	}
}
@media only screen and (max-width: 1800px) and (min-width: 1500px) {
	#wpbody-content #dashboard-widgets .postbox-container,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		margin: 0 3.3333% 0 0;
		width: 30%;
	}
	#wpbody-content #dashboard-widgets #postbox-container-3 {
		margin: 0;
	}
}
@media only screen and (max-width: 799px) {
	#wpbody-content #dashboard-widgets .postbox-container,
	#wpbody-content #dashboard-widgets #postbox-container-4 {
		width: 100%;
	}
}
#dashboard-widgets .meta-box-sortables {
	margin: 0;
}
#dashboard-widgets-wrap {
	margin: 0;
}
#dashboard-widgets-wrap .postbox {
	margin-bottom: 40px;
}
#dashboard-widgets-wrap h3 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	padding: 12px 12px;
}
#dashboard-widgets-wrap #normal-sortables .postbox,
#dashboard-widgets-wrap #side-sortables .postbox,
#dashboard-widgets-wrap #column3-sortables .postbox, 
#dashboard-widgets-wrap #column4-sortables .postbox, 
#dashboard-widgets-wrap #column5-sortables .postbox {
	background: #fff;
	border: 0 none;
	border-radius: 2px;
	padding: 5px 10px 10px 10px;
}
#dashboard_right_now .main p {
	margin: 10px 0 0 0;
}
#dashboard-widgets-wrap .postbox .handlediv {
	width: 23px;
}
.branch-4-6 #dashboard-widgets #normal-sortables .ui-sortable-handle,
.branch-4-7 #dashboard-widgets #normal-sortables .ui-sortable-handle {
	padding: 8px 12px;
}
.branch-4-6 #dashboard-widgets #normal-sortables #dashboard_activity .inside,
.branch-4-7 #dashboard-widgets #normal-sortables #dashboard_activity .inside {
	padding: 0 12px 12px;
}
.branch-4-6 #dashboard-widgets #normal-sortables .inside h3,
.branch-4-7 #dashboard-widgets #normal-sortables .inside h3 {
	padding: 0;
}