.sl_row {
	@extend .grid-x; //Foundations XY Grid class
}//end .sl_row

.sl_column {
	@extend .grid-y; //Foundations XY Grid class
}//end .sl_column

.sl_cell {
	@extend .cell;//Foundations XY Grid class
}//end .sl_cell

