.sl_footer {
	background-color: get-color(default);
	padding: $spacing--sm 0;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	p {
		color: get-color(inverse);
	}//end p

	& > .sl_inner {

		& > .sl_row {
			& > .sl_cell {
				display: flex;
				align-items: center;

				@include breakpoint (small down) {
					justify-content: center;
					margin-bottom: $spacing--lg;
				}//end small down breakpoint

				//SOCIAL
				&:first-of-type {
					@include breakpoint (small down) {
						order: 1;
					}//end small down breakpoint
				}//end &first-of-type

				//LOGO
				&:last-of-type {
					@include breakpoint (small down) {
						order: 2;
					}//end small down breakpoint
				}//end &:last-of-type

				& > :last-child {
					margin-bottom: 0;
				}//end & > :last-child
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner

	&__logo {
		text-align: right;

		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint

		img {
			max-height: 60px;
			width: auto;
		}//end img
	}//end &__logo

	&__copyright {
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;

		@include breakpoint (small down) {
			order: 3;
		}//end small down breakpoint

		p {
			font-size: rem-calc(14px);
			font-weight: $font-weight--regular;
		}//end p
	}//end &__copyright


	//Social
	&__socials {
		margin-bottom: $spacing--sm;
		.sl_socials {
			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/2;
				display: flex;
				align-items: center;
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials
		
}//end .sl_footer