//MEGA MENU
.sl_megamenu {
	width: 100%;
	margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    @include container;
    border: none;
    padding: 0;
    overflow: hidden;

	// SECOND LEVEL MENU
    & > .sl_menu {
    	background: none;
    	padding: $spacing--lg;

    	@include breakpoint (xlarge only) {
    		padding: $spacing--lg $spacing--md;
    	}//end xlarge only breakpoint

    	@include breakpoint (large only) {
    		padding: $spacing--md $spacing--xs;
    	}//end large only breakpoint
    }//end .sl_menu

	.sl_menu > li {
		margin-bottom: 1rem;

		&.sl_cell {
			padding: 0 $spacing--sm;

			@include breakpoint (large only) {
				padding: 0 $spacing--xs/2;
			}//end large only breakpoint

		}//end &.sl_cell
		& > a {
			font-size: 1.25rem;
			font-weight: $font-weight--medium;
			color: get-color(default);
			position: relative;
			padding: 0;
			margin-bottom: $spacing--xs/2;
			background: none;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint

			&:after {
				@include pseudo($display: inline-block, $content: '\f105', $pos: relative);
				font-family: FontAwesome;
				font-weight: $font-weight--bold;
				margin-left: $spacing--xs;
				width: 8px;
				margin-right: -24px;
				@include transition(all .2s ease-in-out);

				@include breakpoint (large only) {
					margin-left: $spacing--xs/2;
					margin-right: -16px;
				}//end large only breakpoint
			}//end &:after

			&:hover {
				&:after {
					transform: translateX(4px);
					@include transition(all .2s ease-in-out);
				}//end &:after;
			}//end &:hover;
		}//end a

		& > p {
			opacity: .6;
			max-width: 210px;
			font-size: 1rem;
			line-height: 1.25rem;
			margin-bottom: 0;

			@include breakpoint (large only) {
				font-size: rem-calc(15px);
			}//end large only breakpoint
		}//end p
		
		// THIRD LEVEL MENU
		& > .sl_menu {
			position: static;
			display: flex;
			background: none;
			border: none;

			& > li {
	    		margin-bottom: 1rem;
	    		& > a {
					font-size: 1.125rem;
					font-weight: $font-weight--regular;
					text-decoration: underline;
					color: get-color(default);
					position: relative;
					padding: 0;
					margin-bottom: 0;

					@include breakpoint (large only) {
						font-size: 1rem;
					}//end large only breakpoint

					&:after {
						display: none;
					}//end &:after
	    		}//end a
	    	}//end & > li
		}//end .sl_menu
	}//end .sl_menu > li
	
}//end .sl_megamenu