//Default Page Template
body.page-template-default {
	.sl_content {

		&__main {
			padding: $spacing--xxxl 0;

			@include breakpoint (small down) {
				padding: $spacing--xl 0;
			}//end small down breakpoint
		}//end &__main
		
	}//end .sl_content
}//end body.default
