{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header" style="background-image: url({{ post.thumbnail.src() }}">
		<div class="sl_inner">
			<h1>{{post.title}}</h1>
		</div>
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">
					
			{# If No Featured Image #}
			{% if post.thumbnail == null %}
				<h1>{{post.title}}</h1>
			{% endif %}

			<main id="main" class="sl_main">
				{{post.content}}
			</main>{# /.sl_main #}
			
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}