{% extends "module.twig" %}

{% block card %}
	<div class="sl_card">
		{# Header #}
		<h1>{{ module.billboard.billboard_content.header }}</h1>

		{% if module.billboard.billboard_content.paragraph %}
		{{ module.billboard.billboard_content.paragraph|wpautop }}
		{% endif %}

		{# Button #}
		{% if module.billboard.buttons %}
	    	{% include "card-button.twig" with { card : module.billboard } %}
		{% endif %}	
	</div>

{% endblock %}