.sl_location {
	padding-top: 0px !important;
	& > .sl_inner {
		padding: 0;
		max-width: none;
		& > .sl_row {
			background-color: get-color(accent1);
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_module__map {
		height: 100%;

		@include breakpoint (small down) {
			min-height: 215px;
		}//end small down breakpoint
	}//end .sl_module__map

	&__card {
		max-width: $global-width/2;
		margin-left: auto;
		padding: $spacing--xxl;

		@include breakpoint (medium only) {
			padding: $spacing--xl $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--xl $spacing--sm;
		}//end small down breakpoint

		strong {
			font-size: rem-calc(26px);
			color: get-color(primary);
			margin-bottom: $spacing--xs;
			display: block;
		}//end strong
	}//end &__card
	
}//end .sl_location