.sl_spotlight {
	background-color: get-color(primary);
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--lg;
	}//end small down breakpoint

	h2 {
		color: get-color(inverse);
		font-weight: $font-weight--regular;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
			text-align: center;
		}//end small down breakpoint
	}//end h2

	.sl_button {
		&:first-of-type {
			margin-left: $spacing--md;

			@include breakpoint (small down) {
				margin-left: 0;
			}//end small down breakpoint
		}//end &:first-of-type
	}//end .sl_button
	
	.sl_inner {
	}//end .sl_inner
}//end .sl_spotlight